
<style type="text/css">
#gmapframe {
    min-width: 700px;
    min-height: 500px;
    max-height: 800px;
    width: 100%;
    height: 100%;
    margin: 10px;
    border: none;
    display: inline;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
</style>

<iframe scrolling="no" id="gmapframe" src="{{ innerUrl|raw }}"/><br/>
<a href="{{ innerUrl|raw }}" target="_blank">Go to Fullscreen map</a>
